<div class="container mt-6">
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <img src=".\images\person-svgrepo-com.svg" style="width: 300px; " alt="profile" srcset="">

          </div>
        <div class="col-md-8 col-sm-12 ga-maamli-regular">
            <h1 class="anton-regular">User Id :{{member.userId}}</h1>
            <p>Name : {{member.firstName}} {{member.lastName}}</p>
            <p>Age :{{member.age}}</p>
            <p>Gender :{{member.gender}}</p>
            <p>Contact No :{{member.contactNo}}</p>
            <p>Email :{{member.email}}</p>
            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                View More
              </button>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">{{userId}}'s Details</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
            <img src=".\images\person-svgrepo-com.svg" style="width: 200px; " alt="profile" srcset="" >
                </div>
                <div class="col-md-6 col-sm-12">
                    <p>Name : {{member.firstName}} {{member.lastName}}</p>
                    <p>Age :{{member.age}}</p>
                    <p>Gender :{{member.gender}}</p>
                    <p>DOB :{{member.dob | date:'mediumDate'}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <p>Contact No :{{member.contactNo}}</p>
                    <p>Email :{{member.email}}</p>
                    <p>NIC number :{{member.nicNo}}</p>
                </div>
                <div class="col-md-6 col-sm-12">
                    <p>Height :{{member.height}}</p>
                    <p>weight :{{member.weight}}</p>
                    <p>Address :{{member.address}}</p>
                </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <app-view-all-program></app-view-all-program>